 *{
     margin: 0;
     padding: 0;
 }
 a{
     text-decoration: none;
 }
 a:hover{
     text-decoration: none;
 }
 header {
     width: 100%;
     height: 1.36rem;
     position: fixed;
     top: 0;
     background: #fff;
     z-index: 2;
 }
 header .flash {
     width: 10rem;
     height: 1.36rem;
     margin: 0 auto;
     background: #eee;
     line-height: 1.36rem;
     position: relative;
 }
 header .flash a{
     color: #003b9b;
     width: 2.5rem;
     font-size: 14px;
     text-align: center;
     line-height: 1.36rem;
     display: block;
     float:left;

 }
 header .flash a:hover{
     background: red;
     color:#fff;
     font-weight: bold;
 }
 [data-dpr="2"] header .flash a{
     font-size: 28px;
 }
 [data-dpr="3"] header .flash a{
     font-size: 42px;
 }
/* <!--电视部分开始-->*/
 article{
     width: 10rem;
     height: 78rem;
     margin: 0 auto;
 }
 article .one{
     width: 10rem;
     height: 22rem;
     position: relative;
     top:1.36rem;
 }
article .p1{
    height: 1.2rem;
    font-size: 20px;
    color:#000;
    text-align: center;
    line-height:1.2rem;
    border-bottom: 0.026rem solid #d3d3d3;
}
[data-dpr="2"] article .p1{
    font-size: 40px;
}
 [data-dpr="3"] article .p1{
     font-size: 60px;
 }
 article ul li{
     width: 4.8rem;
     height: 6.6rem;
     float:left;
     border:0.016rem solid #d3d3d3;
     margin-top: 0.2rem;
     border-radius: 0.1rem;
 }

 article ul .li2{
     float:right;
 }
 article ul li img{
     width: 4rem;
     height: 4.053rem;
     margin: 0.4rem 0.4rem 0.2rem 0.4rem;
 }
 article ul .p2{
     width: 4rem;
     height: 1.2rem;
     font-size: 12px;
     color:#636364;
     margin-left: 0.4rem;

 }
 [data-dpr="2"] article .p2{
     font-size: 24px;
 }
 [data-dpr="3"] article .p2{
     font-size: 36px;
 }
 article ul .p3{
     font-size: 12px;
     color:#d8154d;
     margin-left: 0.4rem;

 }
 [data-dpr="2"] article .p3{
     font-size: 24px;
 }
 [data-dpr="3"] article .p3{
     font-size: 36px;
 }
 article ul .span1{
     color:#078707;
     float:right;
     margin-right: 0.4rem;
 }
 /*.box1{*/
     /*width: 4rem;*/
     /*height: 4.053rem;*/
     /*overflow: hidden;*/
 /*}*/
 /*.box1 img:hover{*/
     /*transform:scale(1.3);*/
     /*transition: all 1s ease 0s;*/
     /*-webkit-transform: scale(1.3);*/
 /*}*/
 /* <!--电视部分结束-->*/
/*空调部分开始*/
 article .two{
     width: 10rem;
     height: 29rem;
     position: relative;
     top:1rem;
 }
 /*空调部分结束*/
/*洗衣机部分开始*/
 article .three{
     width: 10rem;
     height: 28.5rem;
     position: relative;
     top:0.5rem;
 }
/*洗衣机部分结束*/
 /*冰箱部分开始*/
 article .four{
     width: 10rem;
     height: 30rem;
     position: relative;
     top:0.5rem;
 }
 /*冰箱部分结束*/
 /*footer部分开始*/
 footer {
     width: 100%;
     height: 1.24rem;
     background: #fff;
     position: fixed;
     bottom: 0;
     z-index: 9;
 }

 footer .foot {
     width: 10rem;
     height: 1.24rem;
     margin: 0 auto;
     background: #eee;
     text-align: center;
     line-height: 1.24rem;
 }

 footer a {
     width: 2rem;
     height: 1.24rem;
     float: left;
     text-align: center;
     display: inline-block;
     color: #5D656B;
 }

 footer a p {
     color: #003b9b;
     font-weight: bold;
     font-size: 14px;
 }

 [data-dpr="2"] footer a p {
     font-size: 28px;
 }

 [data-dpr="3"] footer a p {
     font-size: 42px;
 }
 /*footer部分结束*/