*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 1.666rem;
    background:#fff;
    line-height: 1.666rem;
    position: fixed;
    top:0;
    z-index: 2;
}
header .head{
    width: 10rem;
    height:1.666rem;
    margin: 0 auto;
    background: #295fff;
}
header .top a:nth-child(1){
    width: 6rem;
    height: 1.666rem;
    float: left;
    display: block;
}
header .top a:nth-child(2){
    width: 4rem;
    height: 1.666rem;
    float: left;
    display: block;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
[data-dpr="2"] header .top a:nth-child(2){
    font-size: 40px;
}
[data-dpr="3"] header .top a:nth-child(2){
    font-size: 60px;
}
header .top .img1{
    width: 0.5rem;
    height: 0.5rem;
    transform: rotate(90deg);
    margin-top: 0.6rem;
    margin-left: 0.466rem;
}
section{
    width: 10rem;
    height: 16rem;
    margin: 0 auto;
    position: relative;
    top:1.666rem;
}
section .center{
    width: 10rem;
    height: 16rem;
}
section p{
    margin-top: 0.8rem;
    font-size: 14px;
    color:#929da5;
}
[data-dpr="2"] section p{
    font-size: 28px;
}
[data-dpr="3"] section p{
    font-size: 42px;
}
section p input[type="text"]{
    width: 4.5rem;
    height: 1.2rem;
    border: 0.02rem solid #e1e1e1;
}
section p input[type="tel"],
          input[type="password"]{
    width: 9rem;
    height: 1.2rem;
    border: 0.02rem solid #e1e1e1;
}
.button1{
    width: 9rem;
    height: 1.2rem;
    background:#2979ff;
    color: #fff;
    border-radius: 0.5rem;
    font-size: 18px;
}
[data-dpr="2"] .button1{
    font-size: 36px;
}
[data-dpr="3"] .button1{
    font-size: 54px;
}
.notice{
    color:#000;
}
.notice1{
    color:#13b3ff;
    font-size: 14px;
}
[data-dpr="2"] .notice1{
    font-size: 28px;
}
[data-dpr="3"] .notice1{
    font-size: 44px;
}
/*footer部分开始*/
footer {
    width: 100%;
    height: 1.24rem;
    background: #fff;
    position: fixed;
    bottom: 0;
    z-index: 9;
}

footer .foot {
    width: 10rem;
    height: 1.24rem;
    margin: 0 auto;
    background: #eee;
    text-align: center;
    line-height: 1.24rem;
}

footer a {
    width: 2rem;
    height: 1.24rem;
    float: left;
    text-align: center;
    display: inline-block;
    color: #5D656B;
}

footer a p {
    color: #003b9b;
    font-weight: bold;
    font-size: 14px;
}

[data-dpr="2"] footer a p {
    font-size: 28px;
}

[data-dpr="3"] footer a p {
    font-size: 42px;
}

/*footer部分结束*/
